*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 100vw;
    z-index: 2;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 24px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    position: relative;
}

.logo{
    position: absolute;
    background-color: green;
    color: white;
    font-size: 3rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -40px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 500px;
    font-size: 14px;
    font-weight: bold;
}

input{
    height: 40px;
    padding: 10px;
    border-radius: 10px;
}
select{
    height: 40px;
    padding: 10px;
    border-radius: 10px;
}

.label{
    display: flex;
    flex-direction: column;
}

.input{
    background: rgb(14, 52, 157);
    color: white;
    font-weight: bold;
    height: 50px;
    border: none;
}